name: Cross Repo
on: workflow_dispatch
defaults:
  run:
    shell: bash

jobs:
  checkout:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    env:
      TARGET_REPO: create-pr-action
    steps:
      - id: create
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          repositories: ${{ env.TARGET_REPO }}
      - uses: actions/checkout@v5
        with:
          repository: ${{ github.repository_owner }}/${{ env.TARGET_REPO }}
          path: ${{ env.TARGET_REPO }}
          token: ${{ steps.create.outputs.token }}
      - run: cat "${TARGET_REPO}/README.md"
